body {
  background-color: #DFAE76;
  margin: 0;
  font-family: 'Alegreya SC', serif;
}
.title {
  height: 100px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.title h1 {
  margin-right: 10px;
  font-family: 'Parisienne', cursive;
  font-size: 120px;
}
.title h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 100px;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {  
  height: 15%;
  width: 15%;
  margin-left:2%;
  
 }

ul.header li {
  list-style-type: none;
  margin: 0;
  width: 400px;
  font-family: 'Alegreya SC', serif;
}
ul.header {
  background-color: #BD8D56;
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 1600px;
  align-self: center;
  justify-content: center;
}
ul.header li a {
  color: #030303;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  background-color: #BD8D56;
 
}
.active {
  background-color: #f6f6f6;
}
.carousel {
  width: 100%;
  height:100%;
  background-color: #BD8D56;
}
.imageOne {
  width:500px;
}
.imageTwo {
  width:535px;
}
.imageThree {
  width:500px;
}
.imageFour{
  width:500px;
}
.imageFive {
  width:500px;
}
.imageSix {
  width:500px;
}
.imageSeven{
  width:503px;
}
.imageEight{
  width:535px;
}
.imageNine{
  width:535px;
}
.imageTen{
  width:535px;
}
.youTubeMain {
  display:flex;
  align-items: center;
  justify-content: center;

}
.redes {
  display:flex;
  flex-direction: row;
  background-color: #f6f6f6;
}
.tiktokRedes {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 4px solid #bd8d56
}
.tiktokRedes h1 {
  text-align: center;
}
.instagram {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  border: 3px solid #bd8d56
}
.instagram h1 {
  text-align: center;
}
.instagramEmbed {
  width: 100%;
  height: 100%;
  margin-left: 20%;
}
.youTubeRedes {
  border: 4px solid #bd8d56
}
.youTubeRedes h1 {
  text-align: center;
}
.video-section {
    display:flex;
    align-items: center;
    justify-content: center;
    border: #bd8d56 solid;
}